.puri {
	background-color: #6F0;
	text-align: center;
	font-family: Tahoma;
	word-spacing: 2em;
}

.olandes {
	background-image: url(../Imagens/Captura%20de%20tela%202026-02-21%20185200.png);
	background-repeat: repeat;
	height: 483px;
	width: 425px;
}
