.tvrllogo {
	position: absolute;
	left: 71px;
	top: 43px;
}
.blocklogo {
	background-color: #33CC33;
	position: absolute;
	top: 37px;
	width: 170px;
	height: 59px;
	left: 64px;
}
.blockselect {
	background-color: #33CC33;
	position: absolute;
	visibility: visible;
	height: 20px;
	width: 1008px;
	top: 80px;
	text-transform: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.newsblock {
	background-color: #000066;
	width: 350px;
	height: 300px;
	position: absolute;
	top: 150px;
	bottom: 100px;
	background-image: url(../OneDrive/Documentos/paineter/rlbpob/theneus.gif);
}
.news1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	position: absolute;
	top: 55px;
	color: #FFFFFF;
}
.news2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	top: 100px;
	color: #FFFFFF;
	position: absolute;
}
.news3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	position: absolute;
	top: 141px;
}
.news4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	position: absolute;
	top: 190px;
}
.news5 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	top: 220px;
	position: absolute;
}
.news6 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	height: auto;
	position: absolute;
	top: 273px;
	left: 49px;
}
.mainblock {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #00FFCC;
	position: absolute;
	height: 300px;
	width: 657px;
	top: 150px;
	left: 365px;
	background-image: url(../OneDrive/Documentos/paineter/rlbpob/johnpork.gif);
}
.maintext {
	font-family: Tahoma;
	color: #FFFFFF;
	list-style-type: disc;
	position: absolute;
	top: 170px;
}
.videosblock {
	background-color: #999999;
	position: absolute;
	height: 30px;
	width: 350px;
	top: 460px;
	background-image: url(../OneDrive/Documentos/GitHub/betamanxp.github.io/videosheader.gif);
}
.thevideos {
	background-color: #FF00FF;
	height: 200px;
	width: 350px;
	top: 35px;
	position: absolute;
	background-image: url(../OneDrive/Documentos/GitHub/betamanxp.github.io/videos-boxman.gif);
}
.thumb1 {
	color: #3234CC;
	background-color: #3234CC;
	height: 80px;
	width: 107px;
	background-image: url(../OneDrive/Documentos/GitHub/betamanxp.github.io/thumb1.gif);
	left: 14px;
	position: absolute;
	top: 10px;
}
.textvid1 {
	font-family: Tahoma;
	color: #FFFFFF;
	position: absolute;
	width: 123px;
	left: 126px;
	top: 12px;
}
.subtextvid1 {
	color: #666666;
	position: absolute;
	left: 2px;
	top: -1px;
}
.thumb2 {
	color: #3234CC;
	background-color: #3234CC;
	background-image: url(../OneDrive/Documentos/GitHub/betamanxp.github.io/thumb2.gif);
	position: absolute;
	width: 107px;
	height: 80px;
	left: 14px;
	top: 110px;
}
.textvid2 {
	font-family: Tahoma;
	color: #FFFFFF;
	position: absolute;
	left: 126px;
	top: 10px;
	height: 18px;
	width: 108px;
}
.subtextvid2 {
	font-family: Tahoma;
	color: #666666;
	position: absolute;
	height: 22px;
	width: 197px;
	left: 0px;
	top: -1px;
}
